body {
  font-family: 'Amatic SC', cursive;
  color: #D68F24;
}

header {
  width: 100%;
  height: 15%;
  max-height: 300px;
  background-color: #F3F4E7;
  display: inline-block;
  position: relative;
}
header img {
  height: 25vw;
  max-height: 280px;
  padding: 0;
  margin: 2vw, 4vw;
}
.logo-banner {
  float: left;
}
@media screen and (max-width: 585px) {
  .texto-banner {
    display: none;
  }
}
.texto-banner {
  position: absolute;
  right: 3vw;
  bottom: 0.3vw;
}
.texto-banner p{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-weight: 550;
  color: #D68F24;
  padding: 0;
  font-size: clamp(1em, 1em + 1vw, 3em);

}

.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}



@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

@media(min-width: 500px) {

  nav ul li {
        box-sizing: border-box;
        width: 150%;
        padding-right: 8vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
  }


}

body {
  background-color: #f1f1f1;
  font-family: 'Amatic SC', cursive;
  color: #d68f24;
  text-align: center;
}

h2 {
  margin-top:3em;
  font-weight: 750;
  color: #C59440;
}

h2, a{
  color:#D68F24;
}

h2, a:link{
  text-decoration: none;
  color: #C59440;

}
h2, a:hover{
  text-decoration: none;
  font-weight: bold;
  color: #91A191;
}

h2, a:active{
  color: #91A191;
}


.fa-lg {
  color: #C59440;
}

.fa-lg:hover {
  transform: translateY(-5px);
  transition-duration: .5s;
  cursor: pointer;
}

.carousel-item {
  opacity: 0.5;
}

.carousel-item p, h5{
  font-weight: 900;
  color: #91A191;
  text-shadow: 0 -1px 2px #fff,0 1px 2px #fff,-1px 0 2px #fff,1px 0 2px #fff;
  font-size: 1.5em;
}

footer {
  background-color: #F3F4E7;
  font-size: 5em;
}
