body {
  font-family: "Amatic SC", cursive;
  color: #d68f24;
}

header {
  width: 100%;
  height: 15%;
  max-height: 300px;
  background-color: #f3f4e7;
  display: inline-block;
  position: relative;
}
header img {
  height: 25vw;
  max-height: 280px;
  padding: 0;
  margin: 2vw, 4vw;
}
.logo-banner {
  float: left;
}

.texto-banner {
  position: absolute;
  right: 3vw;
  bottom: 10vw;
}
.texto-banner p {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-weight: 800;
  color: #d68f24;
  padding: 0;
  font-size: clamp(1em, 2em + 1vw, 3em);
}

.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
  transform: translateY(-5px);
}
.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

@media (min-width: 500px) {
  nav ul li {
    box-sizing: border-box;
    width: 150%;
    padding-right: 8vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 10vw;
  }
}

@media (max-width: 970px) {
  #passeios {
    width: 100% !important;
  }
  .card {
    width: 100% !important;
  }
}

@media (min-width: 1800px) {
  nav ul li {
    box-sizing: border-box;
    width: 150%;
    padding-right: 8vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 8vw;
  }
}

@media (max-width: 1130px) {
  .texto-banner {
    top: 0;
    bottom: 15em;
    background-color: #f3f4e7;
  }
  .text-1 {
    display: block;
    margin-top: 50px;
  }
}
@media (min-width: 430px) {
  .logo-banner {
    margin-top: 10vh;
    height: 10vh;
  }
}

@media (min-width: 880px) {
  .logo-banner {
    height: 20vh;
    margin-top: 0;
  }
}

@media (max-width: 430px) {
  header {
    height: 15em;
  }
  .texto-banner {
    top: 7em;
  }
}

@media (min-width: 431px) {
  header {
    height: 15em;
  }
  .texto-banner {
    top: 5vh;
  }
}

body {
  background-color: #f1f1f1;
  font-family: "Amatic SC", cursive;
  color: #d68f24;
  text-align: center;
}

h2 {
  margin-top: 3em;
  font-weight: 750;
  color: #c59440;
}

h2,
a {
  color: #d68f24;
}

h2,
a:link {
  text-decoration: none;
  color: #c59440;
}
h2,
a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #91a191;
}

h2,
a:active {
  color: #91a191;
}

.fa-lg {
  color: #c59440;
}

.fa-lg:hover {
  transform: translateY(-5px);
  transition-duration: 0.5s;
  cursor: pointer;
}

.carousel-item {
  opacity: 0.5;
  height: 40vw;
  width: 100%;
}

.carousel-item h5 {
  font-weight: 1000;
  color: black;
  text-shadow: 0 -1px 2px #fff, 0 1px 2px #fff, -1px 0 2px #fff, 1px 0 2px #fff;
  font-size: 1.9em;
}

.carousel-item a {
  font-weight: 700;
  color: black;
  text-shadow: 0 -1px 2px #fff, 0 1px 2px #fff, -1px 0 2px #fff, 1px 0 2px #fff;
  font-size: 1.3em;
}

footer {
  background-color: #f3f4e7;
}
.cadastro {
  padding-top: 1em;
  width: 33%;
  text-align: center;
  font-size: clamp(0.5em, 1em + 0.5vw, 3em);
}
.cadastur {
  display: inline-flex;
  align-items: flex-start;
  max-width: 10em;
  margin-left: 0;
}

.formas-pagto {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 20vw;
}
@media (max-width: 560px) {
  .footer-icons {
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .cadastur {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
  }
}

.whatsapp i {
  margin-top: 16px;
}

.footer-icons {
  justify-content: space-evenly;
  margin-left: 3em;
}

td {
  vertical-align: middle;
  width: 33%;
}

@media (max-width: 550px) {
  .whatsapp {
    display: none;
  }
}

#passeios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#passeios h1 {
  font-size: clamp(3em, 1em + 0.5vw, 3em);
  margin-top: 1.5em;
  font-weight: 800;
}

#passeios h3 {
  margin: 2em;
  color: 145, 161, 145;
  color: black;
  font-size: clamp(2em, 1em + 0.5vw, 3em);
  font-weight: 600;
}

#passeios p {
  margin: 2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: 145, 161, 145;
  font-size: clamp(1.2em, 1em + 0.5vw, 3em);
  line-height: 1.8em;
  color: black;
  font-weight: 300;
}

#passeios .card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  transition: all 0.3s ease-out;
  text-align: center;
  margin: 25px;
}

#passeios .card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

#passeios img {
  height: 35em;
}

#sobre h3 {
  font-weight: 900;
  font-size: clamp(2em, 1em + 0.5vw, 3em);
}

#sobre p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: black;
  font-size: clamp(0.5em, 1em + 0.5vw, 3em);
}

iframe {
  padding: 5vw;
}

#transfer h3 {
  font-weight: 900;
  font-size: clamp(2em, 1em + 0.5vw, 3em);
}
#transfer p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: black;
  font-size: clamp(0.5em, 1em + 0.5vw, 3em);
}

#transfer .title {
  font-weight: 900;
  font-size: clamp(1.8em, 1em + 0.5vw, 3em);
  color: #d68f24;
}
#transfer li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: black;
  font-size: 0.8em;
}
#contato h3 {
  font-weight: 900;
  font-size: clamp(2em, 1em + 0.5vw, 3em);
}
#contato p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: black;
  font-size: clamp(0.5em, 1em + 0.5vw, 3em);
}
